{% extends "layout.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

  <body>
    {% block body %}
    <!DOCTYPE HTML>
    <html>

      <head>

        <!-- Meta Tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Title -->
        <title>blog</title>

        <!-- Mobile Device Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Stylesheets -->


        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' type='text/css'>

        <!-- SCRIPTS + JQUERY -->
        <!-- The HTML5 Shim for older browsers (mostly older versions of IE). -->
        <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

        <!-- Java script (The rest of js files are placed in the footer) -->

      </head>

      <body>


        <!-- Begin Header -->

        <!-- end #header -->


        <section class="container">

          <div class="content-left">
            <ul class="menu-left">
              <li class="current"><a href="#"><i class="icon-reorder"></i> All Articles</a></li>
              <li><a href="#"><i class="icon-heart"></i> Fitness</a></li>
              <li><a href="#"><i class="icon-headphones"></i> Workout</a></li>
              <li><a href="#"><i class="icon-food"></i> Healthy</a></li>
              <li><a href="#"><i class="icon-facetime-video"></i> Videos</a></li>
              <li><a href="#"><i class="icon-map-marker"></i> Travel</a></li>
              <li><a href="#"><i class="icon-trophy"></i> Sports</a></li>
            </ul>
            <div class="clear"></div><!-- end filter -->

            <ul class="menu-pages">
              <li><a href="portfolio.html"><i class="icon-chevron-up"></i> Portfolio</a></li>
              <li><a href="contact.html"><i class="icon-envelope-alt"></i> Contact</a></li>
            </ul>
            <div class="clear"></div><!-- end filter -->
          </div><!-- end .content-left -->




          <!-- Begin Content -->
          <div class="wrap-content">

            <div class="blog-content">
              <ul class="blog-posts">
                {% for article in articles %}
                <li>
                  <a href="{% url 'postDetail' id=article.id %}">
                    {% if article.image %}
                    <img src="{{ article.image.url }}" alt="img" />
                    {% endif %}
                  </a>
                  <div class="title"><a href="{% url 'postDetail' id=article.id %}">
                      <h2>{{article.title | safe}}</h2>
                    </a>
                  </div>
                </li>
                {% endfor %}

                <!-- <li>
                  <a href="blog-post.html"><img src="{% static 'demo/blog-post-1.jpg'%}" alt="img" /></a>
                  <div class="title"><a href="blog-post.html"><h2>Man's muscular legs on treadmill closeup</h2></a></div>
                </li>
    
                <li>
                  <a href="blog-post.html"><img src="{% static 'demo/blog-post-2.jpg'%}" alt="img" /></a>
                  <div class="title"><a href="blog-post.html"><h2>Young woman doing workout with weights studio shot</h2></a></div>
                </li> 
                
                <li>
                  <a href="blog-post.html"><img src="{% static 'demo/blog-post-3.jpg'%}" alt="img" /></a>
                  <div class="title"><a href="blog-post.html"><h2>Portrait of a sexy fitness woman lifting a weight</h2></a></div>
                </li>
    
                <li>
                  <a href="blog-post.html"><img src="{% static 'demo/blog-post-4.jpg'%}" alt="img" /></a>
                  <div class="title"><a href="blog-post.html"><h2>Fitness woman personal trainer in sport club indoor</h2></a></div>
                </li>-->
              </ul>
              <div class="clear"></div>

              <div class="pagination"><a href="#"><i class="icon-spinner icon-spin icon-large"></i> Load more articles</a></div>
            </div><!-- end .blog-content -->


            <aside class="sidebar1">
              <div class="widget">
                <h3 class="title"><strong>Featured</strong> articles</h3>
                <ul class="featured-articles">
                  <li><a href="#">
                      <h3>Smiling Female Doing Stretches on the Beach</h3>
                    </a></li>
                  <li><a href="#">
                      <h3>Woman Resting After Summer Workout</h3>
                    </a></li>
                  <li><a href="#">
                      <h3>Tired Female Runner Sitting on the Stairs Resting</h3>
                    </a></li>
                  <li><a href="#">
                      <h3>Woman Smiling While Doing Push Up</h3>
                    </a></li>
                  <li><a href="#">
                      <h3>Attractive Woman at the Beach Having Fun</h3>
                    </a></li>
                  <li><a href="#">
                      <h3>Happy Fitness Woman with Bottled Water at the Beach</h3>
                    </a></li>
                  <li><a href="#">
                      <h3>Smiling Senior Man at Health Club</h3>
                    </a></li>
                </ul>
              </div>
            </aside>



            <aside class="sidebar2">
              <div class="widget">
                <ul class="adv">
                  <li><a href="#"><img src="http://placehold.it/125x125" alt="banner" /></a></li>
                  <li><a href="#"><img src="http://placehold.it/125x125" alt="banner" /></a></li>
                  <li><a href="#"><img src="http://placehold.it/125x125" alt="banner" /></a></li>
                  <li><a href="#"><img src="http://placehold.it/125x125" alt="banner" /></a></li>
                  <li><a href="#"><img src="http://placehold.it/125x125" alt="banner" /></a></li>
                  <li><a href="#"><img src="http://placehold.it/125x125" alt="banner" /></a></li>
                </ul>
                <div class="clear"></div>
              </div>

              <div class="widget">
                <h3 class="title"><strong>Accordion</strong> widget</h3>
                <div class='accordionButton'> About me </div>
                <div class='accordionContent'> <strong>My success</strong> consectetur adipiscing elit. Integer
                  vehicula sem eget lacus porta interdum. Maecenas tincidunt faucibus felis eget malesuada.</div>

                <div class='accordionButton'> My Team</div>
                <div class='accordionContent'> <strong>Meet me</strong> consectetur adipiscing elit. Integer vehicula
                  sem eget lacus porta interdum. Maecenas tincidunt faucibus felis eget malesuada.</div>

                <div class='accordionButton'> Contact me </div>
                <div class='accordionContent'><strong>Say Hi</strong> consectetur adipiscing elit. Integer vehicula sem
                  eget lacus porta interdum. Maecenas tincidunt faucibus felis eget malesuada.</div>
                <div class="clear"></div>
              </div>
            </aside><!-- end .sidebar2 -->


          </div><!-- end .wrap-content -->
          <div class="clear"></div>
        </section><!-- end .container -->






        <!-- Begin Footer -->

        <!-- end #footer -->


        <!-- java script -->

      </body>

    </html>
    {% endblock body %}
  </body>

</html>
